accelerate
asyncio
ipykernel
huggingface_hub[cli]
jupyter
mcp[server]
mcp[streamable-http]
mlx
mlx-lm
mlx-vlm
nest-asyncio
openai
Pillow
strands-agents
strands-agents-tools
torch
torchvision
transformers